	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{asset('img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Gym</title>

		<link href="{{asset('https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700')}}" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{asset('css/linearicons.css')}}">
			<link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{asset('css/nice-select.css')}}">					
			<link rel="stylesheet" href="{{asset('css/animate.min.css')}}">
			<link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{asset('css/main.css')}}">
		</head>

        
		<body>
				{% block header %}
			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row header-top align-items-center">
			    		<div class="col-lg-4 col-sm-4 menu-top-left">
                        

			    		</div>
			    		<div class="col-lg-4 menu-top-middle justify-content-center d-flex">
							<a href="index.html">
								<img class="img-fluid" src="{{asset('img/logo.png')}}" alt="">	
							</a>			    			
			    		</div>
			    		<div class="col-lg-4 col-sm-4 menu-top-right">
			    			<a class="tel" href="tel:+880 123 12 658 439">+880 123 12 658 439</a>
			    			<a href="tel:+880 123 12 658 439"><span class="lnr lnr-phone-handset"></span></a>
			    		</div>
			    	</div>
			    </div>	
			    	<hr>
			    <div class="container">	
			    	<div class="row align-items-center justify-content-center d-flex">
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#home">Home</a></li>
				          <li><a href="#offer">we offer</a></li>
				          <li><a href="{{ path('app_produit_front_index') }}">Produit</a></li>				          
				          <li><a href="#schedule">Schedule</a></li>
				          <li><a href="#trainer">Trainer</a></li>
				          <li><a href="#plan">Plan</a></li>
				          <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
				              <li><a href="generic.html">Generic</a></li>
				              <li><a href="elements.html">Elements</a></li>
				            </ul>
				          </li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
					<!-- Add Cart Icon to Header -->
					<a href="{{ path('cart_view') }}" class="btn btn-outline-light position-relative">
    🛒 Cart
	

</a>



			    </div>
			  </header><!-- #header -->
			  {% endblock %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>		
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-12 col-md-12">
							<h1 class="text-uppercase">
								Real Fitness <br>
								Depends on Exercise					
							</h1>
							<p class="text-white text-uppercase pt-20 pb-20">
								Shape your body well.
							</p>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start offer Area -->
			<section class="offer-area section-gap" id="offer">
				
				</div>	
			</section>
			<!-- End offer Area -->
			
			
						
							{% block table %}							
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c1.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Running Classes <span>$275</span></h4></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c2.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Weight Lifting Classes <span>$200</span></h4></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c3.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Body Combat Classes <span>$225</span></h4></a>
							</div>
						</div>	
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c4.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Organic Yoga Classes <span>$300</span></h4></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c5.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Raw Fitness Classes <span>$500</span></h4></a>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-course">
								<div class="thumb">
									<img class="img-fluid" src="{{asset('img/c6.jpg')}}" alt="">
								</div>
								<span class="course-status">Course Available</span>
								<a href="#"><h4>Body Building Classes <span>$250</span></h4></a>
							</div>
						</div>																		
					</div>
				</div>	
			</section>
			{% endblock %}
			<!-- End top-course Area -->
							

			<!-- Start feature Area -->
			<section class="feature-area">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-3 feat-img no-padding">
							<img class="img-fluid" src="{{asset('img/f1.jpg')}}" alt="">
						</div>
						<div class="col-lg-3 no-padding feat-txt">
							<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
							<h1>Basic Revolutions</h1>
							<p>
								Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
							</p>
						</div>
						<div class="col-lg-3 feat-img no-padding">
							<img class="img-fluid" src="{{asset('img/f2.jpg')}}" alt="">							
						</div>
						<div class="col-lg-3 no-padding feat-txt">
							<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
							<h1>Basic Revolutions</h1>
							<p>
								Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End feature Area -->

			
			
				

					

			
			<!-- Start callto Area -->
			<section class="callto-area section-gap relative">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<h1 class="text-white">Huge Transaction in last Week</h1>
							<p class="text-white pt-20 pb-20">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
							</p>
							<a class="primary-btn" href="#">Become a Member</a>							
						</div>
					</div>
				</div>	
			</section>
			<!-- End callto Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>About Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Contact Us</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
								</p>
								<p class="number">
									012-6532-568-9746 <br>
									012-6532-569-9748
								</p>
							</div>
						</div>						
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h4>Newsletter</h4>
								<p>You can trust us. we only send  offers, not a single spam.</p>
								<div class="d-flex flex-row" id="mc_embed_signup">


									  <form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
									    <div class="input-group add-on">
									      	<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
											<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>
									      <div class="input-group-btn">
									        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									      </div>
									    </div>
									      <div class="info mt-20"></div>									    
									  </form>
								</div>
							</div>
						</div>						
					</div>
					<div class="footer-bottom row">
						<p class="footer-text m-0 col-lg-6">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
						<div class="footer-social col-lg-6">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->

			<script src="{{asset('js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="{{asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')}}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{{asset('js/vendor/bootstrap.min.js')}}"></script>			
			<script type="text/javascript" src="{{asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')}}"></script>
  			<script src="{{asset('js/easing.min.js')}}"></script>			
			<script src="{{asset('js/hoverIntent.js')}}"></script>
			<script src="{{asset('js/superfish.min.js')}}"></script>	
			<script src="{{asset('js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>	
			<script src="{{asset('js/owl.carousel.min.js')}}"></script>			
			<script src="{{asset('js/jquery.sticky.js')}}"></script>
			<script src="{{asset('js/jquery.nice-select.min.js')}}"></script>			
			<script src="{{asset('js/parallax.min.js')}}"></script>	
			<script src="{{asset('js/waypoints.min.js')}}"></script>
			<script src="{{asset('js/jquery.counterup.min.js')}}"></script>			
			<script src="{{asset('js/mail-script.js')}}"></script>	
			<script src="{{asset('js/main.js')}}"></script>	
		</body>
	</html>



