{% block body %}
    <h1>Signup</h1>

    {# Display the site key for debugging purposes #}
    <p>reCAPTCHA Site Key: {{ site_key }}</p>

    {{ form_start(form) }}
       
        <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
        {{ form_row(form._token) }}
        <button type="submit">Sign up</button>
    {{ form_end(form) }}
{% endblock %}
